.row{
    display: flex;
    gap: 30px;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
}
table{
    background-position: 0 0;
    border: 1px solid black;
}
td{
    border: 1px solid black;
    padding: 10px;
}
.mb-3{
    margin-bottom: 15px;
}
button{
    margin-right: 10px;
}