<div class="star-container">
    <div class="star-row">
        <h3>Left Triangle</h3>
        <div class="star-print" *ngFor="let row of leftTriangle">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Right Triangle</h3>
        <div class="star-print" *ngFor="let row of rightTriangle">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Lower Left Triangle</h3>
        <div class="star-print" *ngFor="let row of lowerLeftTriangle">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Lower Right Triangle</h3>
        <div class="star-print" *ngFor="let row of lowerRightTriangle">
            {{row}}
        </div>
    </div>
    
    
</div>

<div class="star-container">
    <div class="star-row">
        <h3>Hollow Left Triangle</h3>
        <div class="star-print" *ngFor="let row of hollowLeftTriangle">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Hollow Lower Left Triangle</h3>
        <div class="star-print" *ngFor="let row of hollowLowerLeftTriangle">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Hollow Right Triangle</h3>
        <div class="star-print" *ngFor="let row of hollowRightTriangle">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Hollow Lower Right Triangle</h3>
        <div class="star-print" *ngFor="let row of hollowLowerRightTriangle">
            {{row}}
        </div>
    </div>
</div>

<div class="star-container">
    <div class="star-row">
        <h3>Pyramid Star</h3>
        <div class="star-print" *ngFor="let row of pyramid">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Inverted Pyramid</h3>
        <div class="star-print" *ngFor="let row of invertedPyramid">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Hollow Pyramid</h3>
        <div class="star-print" *ngFor="let row of hollowPyramid">
            {{row}}
        </div>
    </div>
</div>

<div class="star-container">
    <div class="star-row">
        <h3>Diamond</h3>
        <div class="star-print" *ngFor="let row of diamond">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Hollow Diamond</h3>
        <div class="star-print" *ngFor="let row of hollowDiamond">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Square Pattern</h3>
        <div class="star-print" *ngFor="let row of square">
            {{row}}
        </div>
    </div>
</div>
<div class="star-container">
    <div class="star-row">
        <h3>Hollow Square</h3>
        <div class="star-print" *ngFor="let row of hollowSquare">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Right Arrow</h3>
        <div class="star-print" *ngFor="let row of rightArrow">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Left Arrow</h3>
        <div class="star-print" *ngFor="let row of leftArrow">
            {{row}}
        </div>
    </div>
</div>
<div class="star-container">
    <div class="star-row">
        <h3>Plus Sign</h3>
        <div class="star-print" *ngFor="let row of plusSign">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Rhombus Pattern</h3>
        <div class="star-print" *ngFor="let row of rhombus">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Cross Star</h3>
        <div class="star-print" *ngFor="let row of crossStar">
            {{row}}
        </div>
    </div>
</div>
<div class="star-container">
    <div class="star-row">
        <h3>Butterfly Pattern</h3>
        <div class="star-print" *ngFor="let row of butterfly">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Hollow Butterfly</h3>
        <div class="star-print" *ngFor="let row of hollowButterfly">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Triangle</h3>
        <div class="star-print" *ngFor="let row of triangle">
            {{row}}
        </div>
    </div>
</div>
<div class="star-container">
    <div class="star-row">
        <h3>Hollow Triangle</h3>
        <div class="star-print" *ngFor="let row of hollowTriangle">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Hollow Reverse Triangle</h3>
        <div class="star-print" *ngFor="let row of hollowReverseTriangle">
            {{row}}
        </div>
    </div>
    <div class="star-row">
        <h3>Hollow Hour Glass</h3>
        <div class="star-print" *ngFor="let row of hollowHourGlass">
            {{row}}
        </div>
    </div>
</div>