.logo{

    width: 150px;
    height: 135.57px;
}
li{
    display: list-item;
    margin-right: 30px;
    font: 20px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";;
}
.navbar{
    padding: 0px 20px;
}
.navbar-nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;  
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px !important;
}
.menu-toggle{
    background: transparent;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border: none;
    display: none !important;
    align-items: center;
    justify-content: center;
}
.main-menu{
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}
.main-menu a:hover{
    color: #1eafed;
    text-decoration-color: #1eafed;
}

.main-menu .active{
    color: #1eafed;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #1eafed;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}
.main-menu a{
    color: black;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    transition: color .3s;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    padding: 0 12px;
    position: relative;
}
ul li a{
    color: #fff;
    white-space: nowrap;
}
.brand-color img {
    height: 150px;
    width: auto;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    background-color: transparent;
    transition: .5s ease-in;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, svg {
    vertical-align: middle;
}
.transparent-header{
    background-color: transparent;
}
.black-header{
    background: linear-gradient(to right, #000000, #1a1a1a) !important;
}
.nav-link span{
    position: relative;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    text-transform: none !important;
    font-weight: 700;
    letter-spacing: .05em;
    color: #fff;
}
svg{
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translate(-5px);
    transition: all .3s ease;
    margin-top: -3px;
}
.button-setter{
    display: flex;
    align-items: right !important;
    margin-left: auto;
}
@media (max-width: 992px) {
    .logo{
        width: 117.5px !important;
        height: 130px !important;
        margin: 10px;
    }
    .main-menu ul li a{
        font-size: 15px;
        margin-right: -50px;
        padding-bottom: 5px;
        text-align: right;
        line-height: 2;
        text-decoration: none;
        color: #fff;
    }
    .nav-container {
        display: flex !important;
        flex-direction: column !important;
    }
    .menu-toggle{
        display: flex !important;
    }
    .container-fluid{
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-menu{
        justify-content: left;
    }
    .main-menu .mobile-menu{
        display: flex !important;
        width: 100% !important;
        flex-direction: column !important;
        align-items: flex-end !important;
        margin: 0;
    }
    .navbar-nav{
        display: none;
        flex-direction: column !important;
        position: relative;
        width: 100% !important;
        background-color: transparent;
        text-align: right;
        z-index: 1000;
        white-space: nowrap;
        align-items: flex-end !important;
    }
    .navbar-nav.mobile-show {
        display: flex;
    }
    ul{
        gap: 15px;
    }
    li{
        align-items: right;
    }
    a{ 
        font-size: 15px !important;
    }
    .nav-link span{
        font-size: 15px !important;
    }
    .nav-item {
        width: auto; 
        display: flex;
        justify-content: flex-end;
        width: auto;
    }
    .nav-container{
        margin: 0;
        width: 100%;
        order: 6;
    }
    .nav-link {
        text-align: right;
        display: inline-block;
    }
}