/* You can add global styles to this file, and also import other style files */
/* body{
    margin: 0;
    background-color: black;
} */
body {
    overflow-x: hidden; /* This prevents horizontal scrolling/white space */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}