.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(94, 184, 226);
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}
h2{
    color: #0f172a;;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    font-size: 20px;
    list-style: none;
    margin-right: 10px;
}
ul li a{
    color: #0f172a;
    text-decoration: none;
}
.active{
    font-weight: bolder;
    border-bottom: 2px solid black;
}