.gallery-container{
    padding: 50px 20px;
    background: linear-gradient(to right, #000, #1a1a1a) !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.text h1{
    font: 78px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #fff;
    margin: 0px 0px 8px;
    font-weight: 700;
}
.text span{
    color: #1eafed;
}
@media (min-width: 1200px) {
    .h1, h1 {
        font-size: 2.5rem;
    }
}
.h1, h1 {
    font-size: calc(1.375rem + 1.5vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.text p{
    font: 18px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #fff;
    margin: 0px 0px 16px;
    font-weight: 400;
    max-width: 800px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.gallery-container-1{
    background-color: #fff;
    padding: 50px 50px 0;
}
.team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.gallery-background{
    background-color: #fff;
    padding: 0 50px 50px;
}
.gallery-filter {
    margin: 30px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-filter button.active, .gallery-filter button:hover {
    background: #1eafed;
    color: #fff;
}

.gallery-filter button {
    background: none;
    border: 2px solid #1eafed;
    color: #1eafed;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    transition: all .3s;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.grid-item{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    aspect-ratio: 4 / 3;
    height: 100%;
}
.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
    display: block;
}
@media(max-width:992px){
    .text h1{
        font-size: 64px;
    }
}