#video-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
*, ::after, ::before {
    box-sizing: border-box;
}
video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
div {
    display: block;
    unicode-bidi: isolate;
}
section {
    display: block;
    unicode-bidi: isolate;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: transparent;
    overflow: hidden;
}
.console-container{
    font-family: Khula, sans-serif;
    font-size: 3em;
    text-align: center;
    color: #fff;
    max-width: 90%;
}
/* p{
    margin-top: 0;
    margin-bottom: 1rem;
} */
p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.console-underscore{
    display: inline-block;
    position: relative;
    top: -.14em;
    left: 5px;
    animation: blink .75s step-end infinite;
}
@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}
.container-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 20px;
}
.content-1{
    padding: 70px;
}
.text-content{
    max-width: 546px;
}
.text-content h1{
    height: 136.8px;
    font: 57px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0px 0px 8px;
    font-weight: 700;
    font-style: bold;
    color: #1a202c;
}
.text-content p{
    font-weight: 400;
    font: 20px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0px 0px 8px;;
    color: #5c5c5c;
    line-height: 30px;
}

.image{
    height: auto;
    width: 565px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
img, svg{
    vertical-align: middle;
}
.content-wrapper{
    margin-right: 5px;
    width: 100%;
    height: 100%;
}
.content-wrapper img{
    height: auto;
    width: 565px;
    margin: 20px auto;
    display: block;
    border-radius: 30px;
}
.content-wrapper h3 {
    font-size: 24px;
    font-weight: 700;
}
h3 {
    display: block;
    color: #212529;
    font-size: 1.17em;
    margin: 0px 0px 8px;
    font-weight: bold;
    unicode-bidi: isolate;
    font: 24px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.content-wrapper p {
    font-size: 18px;
}
.info{
    display: block;
    font: 18px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0px 0px 16px;
    unicode-bidi: isolate;
    color: #212529;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.service-block{
    padding: 50px;
    background-color: #1eafed;
}
.service-heading{
    margin-top: 0;
}
.service-heading-1{
    text-align: center;
    margin-bottom: 40px;
}
.service-title{
    font: 58px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    height: auto;
    cursor: pointer;
    margin: 0px 0px 10px;
}
.service-text{
    margin-top: 7px;
    font: 28px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 400;
    color: #fff;
    margin: 0px 0px 20px;
    cursor: pointer;
}
.service-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.service-description{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    box-shadow: 0 2px 5px #0000001a;
    transition: background-color .3s ease, transform .3s ease, box-shadow .3s ease;
    cursor: pointer;
}
.service-description:hover{
    transform: translateY(-5px);
}
.service-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}
.service-image img{
    max-width: 100%;
    max-height: 100%;
    width: 64px;
    height: 64px;
    color: #fff;
}
.service-text-1{
    color: #000000;
    font: 19.2px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 700;
    margin: 0px 0px 5px;
}
.service-text-2{
    color: #000000;
    font: 14.4px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0px 0px 20px;
}.client-container{
    max-width: 100%;
    margin: 0 auto;
    padding: 50px;
    font-family: Arial, sans-serif;
}
.client-heading{
    color: #212529;
    font-size: 58px;
    font-weight: 700;
    margin: 0px 0px 10px;
}
.client-paragraph{
    color: #212529;
    font-size: 24px;
    font-weight: 400;
    width: 1000px;
    line-height: 1.6;
    margin: 0px 0px 20px;
}
.reviews-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.review{
    padding: 15px;
    position: relative;
    transition: transform .5s ease, box-shadow .5s ease, z-index 0s ease;
    background: #f3f6f8;
    box-shadow: 0 0 10px #0000001a;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.review:hover{
    border: #1eafed 1.5px solid;
    border-radius: 20px;
    transition: transform .5s ease;
    transform: skewX(-10deg) scale(1.05);
    z-index: 10;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.review:hover::before{
    transform: scale(1.05) !important;
}
.review-gif{
    float: left;
    width: 40px;
    height: auto;
    margin-left: 10px;
}
.review-content{
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #212529;
}
.review-bottom{
    margin-top: 10px;
    text-align: left;
}
.review-line{
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}
.reviewer-name{
    font-style: italic;
    font-size: 14px;
    margin-bottom: 0;
}
.project-area-start{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1eafed;
    width: 100%;
    overflow-x: hidden;
}
.project-area-start .container{
    max-width: 1140px;
    margin: auto;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.project-area-start .row{
    display: flex !important; /* Forces the flex behavior */
    flex-wrap: wrap;         /* Ensures it stacks on mobile */
    align-items: center;
}
.align-items-center{
    align-items: center !important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
@media (min-width: 992px) {
    .project-area-start .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}
@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
.row>*
 {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.project-start-image{
    width: 100%;
    display: block;
}
.project-start-image img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.project-start-content{
    padding: 20px;
}
.project-start-content h2 {
    font: 36px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0px 0px 20px;
    font-weight: 700;
    color: #212529;
}
@media (min-width: 1200px) {
    .h2, h2 {
        font-size: 2rem;
    }
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.project-start-content p {
    font: 16px system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0px 0px 30px;
    color: #212529;
}
a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
button{
    position: relative;
    padding: 12px 35px;
    background: #000;
    font-size: 17px;
    font-weight: 1000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 210px;
    box-shadow: 0 0 #fff;
    transition: all .3s ease-in-out;
    cursor: pointer;
    overflow: visible;
}
.star-1{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fff);
    z-index: -5;
    transition: all 1s cubic-bezier(.05, .83, .43, .96);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}
.fil0{
    fill: #fff;
}
button:hover {
    background: transparent;
    opacity: 1;
    transform: scale(1);
}
.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fff);
    z-index: -5;
    transition: all 1scubic-bezier(0,.4,0,1.01);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}
.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fff);
    z-index: -5;
    transition: all 1s cubic-bezier(0, .4, 0, 1.01);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}
.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 10px;
    height: auto;
    filter: drop-shadow(0 0 0 #fff);
    z-index: -5;
    transition: all .8s cubic-bezier(0, .4, 0, 1.01);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}
.star-5{
    position: absolute;
    top: 25%;
    left: 45%;
    width: 20px;
    height: auto;
    filter: drop-shadow(0 0 0 #fff);
    z-index: -5;
    transition: all .6s cubic-bezier(0, .4, 0, 1.01);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}
.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fff);
    z-index: -5;
    transition: all .8s ease;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}
button:hover .star-1 {
    opacity: 1;
    transform: translate(-90px, -45px) scale(1.1); /* Top Left */
}
button:hover .star-2 {
    opacity: 1;
    transform: translate(-65px, -25px) scale(1);   /* Bottom Left */
}
button:hover .star-3 {
    opacity: 1;
    transform: translate(-35px, 10px) scale(0.8);  /* Top Right */
}
button:hover .star-4 {
    opacity: 1;
    transform: translate(75px, 5px) scale(0.9);   /* Bottom Right */
}
button:hover .star-5 {
    opacity: 1;
    transform: translate(120px,2px) scale(0.7); /* Top Center */
}
button:hover .star-6 {
    opacity: 1;
    transform: translate(20px, 0px) scale(0.8);  /* Bottom Center */
}
@media (max-width: 992px) {
    .console-container {
        font-size: 1.5em;
    }
    .container-1{
        height: 65vh;
    }
    .container-2{
        margin: 0px 0px 20px !important;
        height: auto;
        padding: 20px;
        flex-direction: column;
        overflow: hidden;
    }
    .content-1{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .text-content h1{
        margin: 0px 0px 8px;
        height: auto;
        font-weight: 700;
        font-size: 50px;
        color: #1a202c;
        text-align: center;
    }
    .hide{
        display: none;
    }
    .image
    {
        height: 200px;
        width: auto;
        margin-top: 10px;
    }
    .content-wrapper img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .content-wrapper{
        display: flex;
        flex-direction: column;
        /* width: fit-content; */
        /* margin: 20px 0px 0px; */
    }
    .service-block{
        padding: 10px;
    }
    .service-block h2{
        font-size: 40px;
    }
    .service-block p{
        font-size: 16px;
        display: inline;
    }
    .service-info{
        display: flex;
        flex-direction: column;
    }
    .client-container{
        padding: 20px;
    }
    .client-heading{
        font-size: 31px;
        text-align: center;
    }
    .client-paragraph{
        font-size: 18px;
        display: inline;
    }
    .reviews-container {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 20px;
        padding: 20px;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
        webkit-overflow-scrolling: touch;
    }
    .review {
        flex: 0 0 85%;
        scroll-snap-align: center;
    }
    .custom-scroll-nav {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .scroll-track {
        width: 100%;
        height: 10px;
        background: #e0e0e0;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .scroll-thumb {
        position: absolute;
        width: 40%;
        height: 100%;
        background: #888;
        border-radius: 10px;
        transition: smooth !important; 
    }

    .scroll-thumb:active {
        transition: smooth !important;
    }
}
@media (min-width: 1025px) {
    .custom-scroll-nav { display: none; }
}
.reviews-section {
    position: relative;
    padding-bottom: 40px;
}