
.container{
    margin-top: 10px;
    display: flex;
    justify-items: center;
    height: auto;
    padding: 20px;
    margin-left: 300px;
    background-color: white;
}
.number{
    border: 2px solid black;
    padding: 10px;
}
.userInput{
    width: 97.5%;
}
.output{
    border: 1px solid black;
    height: 20px;
}

button{
    width: 70px;
    height: 30px;
    padding: auto;
    cursor: pointer;
}
.large-btn{
    width: 140px;
    height: 30px;
}

.large-btn.clear{
    background-color: rgb(17, 56, 136);
    color: white;
}
.large-btn.answer{
    background-color: green;
    color: white;
}
.in-out{
    margin-bottom: 10px;
}
.row1{
    margin-bottom: 10px;
}
.row2{
    margin-bottom: 10px;
}
.row3{
    margin-bottom: 10px;
}
.row4{
    margin-bottom: 10px;
}
.op{
    background-color: gray;
    color: white;
    font-weight: bolder;
}